.foodlist {
    // width: 100%;
    max-width: 375px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: bold;
    border-top: 10px solid #f5f5f5;
}

.food-chart {
    margin: 0 auto;
    margin-bottom: 20px;
    // margin-top: 30px;
}
