.header {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: #5bb486;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-date {
    color: white;
    font-size: 17px;
}
.header-kcal {
    color: white;
    font-size: 38px;
    font-weight: bold;
    // display: block;
}
.header-kcal-sub {
    color: white;
    font-size: 18px;
}
